		
		<h1> Add a New Event</h1>

      <form method="post">
        <div class="row">
          <div class="col-sm-8">
            <!-- Large input for Event Name -->
            <div class="md-form form-lg">
              <input type="text" id="inputLGEx" class="form-control form-control-lg">
              <label for="inputLGEx">Event Name</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-8">
            <!-- Event Description-->
            <div class="md-form">
              <textarea id="textarea-char-counter" class="form-control md-textarea" length="120" rows="3"></textarea>
              <label for="textarea-char-counter">Type your event description</label>
            </div>
          </div>

          <div class="col-sm-4">
            <!-- Room select -->
            <label>Avaliable Rooms</label>
            <select class="mdb-select md-form colorful-select down-warning">
              <option value="" disabled selected>Choose a room</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
              <option value="4">Option 4</option>
              <option value="5">Option 5</option>
            </select>
          </div>
        </div>

        <div class="row">

          <!-- Start Date input -->
          <div class="col-sm-8">
            <div class="md-form input-group form-sm">
              <div class="input-group-prepend">
                <span class="input-group-text md-addon">Begin date</span>
              </div>
              <input type="text" id="inputLGEx" aria-label="Year" class="form-control" value="2019">
              <input type="text" id="inputLGEx" aria-label="Month" class="form-control" placeholder="month ex. : 03">
              <input type="text" id="inputLGEx" aria-label="Day" class="form-control" placeholder="day ex. : 23">
              <input type="text" id="inputLGEx" aria-label="Hour" class="form-control" placeholder="ex: 12:00">
            </div>
          </div>
        </div>

        <div class="row">
          <!-- End Date input -->
          <div class="col-sm-8">
            <div class="md-form input-group">
              <div class="input-group-prepend">
                <span class="input-group-text md-addon">End date</span>
              </div>
              <input type="text" id="inputLGEx" aria-label="Year" class="form-control" value="2019">
              <input type="text" id="inputLGEx" aria-label="Month" class="form-control" placeholder="month ex. : 03">
              <input type="text" id="inputLGEx" aria-label="Day" class="form-control" placeholder="day ex. : 23">
              <input type="text" id="inputLGEx" aria-label="Hour" class="form-control" placeholder="ex: 12:00">
            </div>
          </div>
        </div>
        <!-- Add New Event button -->
        <button type="submit" class="btn btn-deep-orange">Create New Event</button>
      </form>