<form ACTION="/user/add" class="border border-light p-5" method="post" action="/user/add">

    <p class="h4 mb-4 text-center">Add a new user</p>

    <label for="firstname">First Name</label>
    <input type="text" id="firstname" name="firstname" class="form-control mb-4">

    <label for="lastname">Last Name</label>
    <input type="text" id="lastname" name="lastname" class="form-control mb-4">

    <label for="email">E-Mail</label>
    <input type="email" id="email" name="email" class="form-control mb-4">

    <label for="status">User Status</label>
    <select class="browser-default custom-select" id="status" name="status_id">
        <option selected>Select the status of the new user</option>
        <option value="1">Admin</option>
        <option value="2">User</option>
    </select>

    <label  for="image">Image Link</label>
    <input  type="text"  id="image" name="image" class="form-control mb-4">

    <label  for="password">Mot de passe</label>
      <input  type="password"  id="password" name="password" class="form-control mb-4">

    <button class="btn btn-info my-4 btn-block" type="submit">Add user</button>

</form>

