{% extends 'layout.html.twig' %}

{% block title %}
    Login
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/stylelogin.css">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center align-middle">
          <div class="col-8">
                <div class="divform">
                    <form method="POST" class="text-center border border-light p-5 form">

                        <p class="h4 mb-4">Connection</p>

                        <p class="test">Connect to the app with the access codes you received by email</p>

                        {% if errorConnection == true %}
                            <div class="alert alert-danger text-center">
                                <p>Your login or password is wrong !</p>
                            </div>
                        {% endif %}
                        <!-- Name -->
                        <input type="email" id="defaultSubscriptionFormPassword" class="form-control mb-4" placeholder="Email" name="email">

                        <!-- Email -->
                        <input type="password" id="defaultSubscriptionFormEmail" class="form-control mb-4" placeholder="Password" name="password">

                        <!-- Sign in button -->
                        <button class="btn btn-info btn-block" type="submit">Sign in</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
