{% extends 'layout.html.twig' %}
{% block content %}
    <!--<link rel="stylesheet" href="/assets/css/stylelogin.css">-->
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-6">
            <link rel="stylesheet" href="/assets/css/stylelogin.css">
                <div class="divform">
                    <form method="POST" class="text-center border border-light p-5 form">

                        <p class="h4 mb-4">Connection</p>

                        <p class="test">Connect to the app with the access codes you received by email</p>

                        {% if errorConnection == true %}
                            <p class="text-success" style="font-size:30pt;color:red;text-decoration:underline overline;text-decoration-color:purple;">Wrong passw<span style="font-size: 50pt;color: yellow;">o</span>rd !!!!!!</p>
                        {% endif %}
                        <!-- Name -->
                        <input type="email" id="defaultSubscriptionFormPassword" class="form-control mb-4" placeholder="Email" name="email">

                        <!-- Email -->
                        <input type="password" id="defaultSubscriptionFormEmail" class="form-control mb-4" placeholder="Password" name="password">

                        <!-- Sign in button -->
                        <button class="btn btn-info btn-block" type="submit">Sign in</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
